<header id="home" class="navbar navbar-expand-lg">
    <a class="logo navbar-brand ms-5">Kassmi Hajar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
    </button>

    <nav id="navbarNav" class="collapse navbar-collapse justify-content-end me-5" style="background: #000000;">
        <a href="#home" class="active nav-link" style="font-size: large; text-align: center; color: #00c8ff;">Home</a>
        <a href="#services" class="nav-link" style="font-size: large; text-align: center; color: #00c8ff;">Services</a>
        <a href="#skills" class="nav-link" style="font-size: large; text-align: center; color: #00c8ff;">Skills</a>
        <a href="http://ensao.ump.ma" target="_" class="nav-link" style="font-size: large; text-align: center; color: #00c8ff;">Education</a>
        <a href="#experience" class="nav-link" style="font-size: large; text-align: center; color: #00c8ff;">Experience</a>
        <a href='/contact' class="nav-link" style="cursor: pointer; font-size: large; text-align: center; color: #00c8ff;">Contact</a>
    </nav>
</header>

<section id="home" class="home">
    <div class="home-img">
        <div class="album">
            <img src="assets/images/hkkk.jpg" alt="image2">
          
        </div>
    </div>
   
    <div class="home-content">
        <h1>Hi, It's <span>Kaami Hajar</span></h1>
        <h3 class="typing-text">I'm a <span></span></h3>
        <p class="description">
            I am a 4th-year engineer at ENSA Oujda, specializing in full-stack development. I have gained solid knowledge in front-end technologies, particularly with React, Tailwind, and Angular, as well as in back-end development with Spring Boot and Express.js. Capable of working effectively in a team, I quickly adapt to collaborative environments and diverse projects. My goal is to acquire even stronger skills and expand my expertise to become a development professional capable of tackling complex technical challenges and providing innovative solutions.

 
        </p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/hajar-kassmi-62ab741b3/" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/hajar-hk" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
           
           
        </div>
        
        <a href="/contact" class="btn">Contact me</a>

    </div>
<div>
        
<a href="https://drive.google.com/file/d/18sBlqKXHCP1gaP_GIUKfc66I_auyZbHP/view?usp=sharing" class="btn">My CV</a>

</div>
</section>

<!-- Section 2: Services -->
<section id="services" class="services py-5">
    <div class="container">
        <div class="row service-cards text-center m-0">
        
            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card service-card">
                    <img src="/assets/images/dev-app.jpg" alt="Application Development" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Application Development</h5>
                        <p class="card-text">Build fast, scalable web and mobile apps using modern frameworks. I deliver secure and user-friendly solutions tailored to your business needs.</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card service-card">
                    <img src="/assets/images/design.jpeg" alt="Design & Templates" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Design & Templates</h5>
                        <p class="card-text">Create visually appealing and responsive card designs and templates tailored for websites and mobile apps.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services-description" class="services-description">
        <div class="container">
            <p class="services-text text-center lead">
                My comprehensive range of services is designed to elevate your goals, enhance user experience, application development, or stunning design templates, 
                let's work together to bring your vision to life!
            </p>
        </div>
    </div>
</section>

<!-- Section 3: Skills -->
<section id="skills" class="skills py-5">
    
    <h2 class="text-center mb-4 skills-title">Skills</h2>

    <div class="container">
        <div class="row m-0">
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Proficient in ES6, React, and Node.js  Reactif UI.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">Experienced in Java Spring Boot for backend development.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">HTML/CSS</h5>
                    <p class="card-text">Skilled in creating responsive designs and layouts.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">Developing dynamic single-page applications.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">project initiation diagrams</h5>
                    <p class="card-text">Such Flowcharts ,Use case diagrams, Entity relationship Diagrams .</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">Design</h5>
                    <p class="card-text">Creating user-friendly designs and interfaces.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="skills-conclusion text-center mt-5">
        <p class="conclusion-text">
            Mastering a diverse set of skills is essential in today's fast-paced digital landscape. From dynamic web development with JavaScript and React to backend solutions with Java spring boot, each skill enhances the ability to create innovative solutions. Embracing design principles ensures user-friendly experiences, making technology accessible to all. Continuous learning and adaptation are keys to success in this ever-evolving field.
        </p>
    </div>
    
    
    <section id="experience" class="experience py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-center skills-title mb-4">Expériences Professionnelles</h2>
                    <div class="card skill-card mb-4" style="background-color: transparent; border: none;">
                        <div class="card-body">
                            <h5 class="card-title">PFA : Application pour la Gestion et la Répartition des Budgets de Recherche au sein de l'Université Moahammed 1er</h5>
                            <p class="card-text text-white">2025 (En cours)</p>
                        </div>
                    </div>
                    <div class="card skill-card mb-4" style="background-color: transparent; border: none;">
                        <div class="card-body">
                            <h5 class="card-title">Stage opérateur</h5>
                            <p class="card-text text-white">Entreprise : Librairie Papeterie El Qods</p>
                            <p class="card-text text-white">2024 (1 mois)</p>
                        </div>
                    </div>
                    <div class="card skill-card mb-4" style="background-color: transparent; border: none;">
                        <div class="card-body">
                            <h5 class="card-title">Projet Académique HK-Clothes E-commerce plateforme</h5>
                            <p class="card-text text-white">Application Web de gestion des vêtements (CRUD-S)</p>
                            <p class="card-text text-white">Environnement Technique : React JS, MongoDB, Express.Js, Node JS</p>
                            <p class="card-text text-white">2024 (3 mois)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    